.navbarContainer {
    /* Group 61 */
    display: flex;
    position: absolute;
    width: 1360px;
    height: 40px;
    left: 42px;
    top: 24px;



}

.login-button {
    /* Login */

    position: absolute;
    width: 108px;
    height: 27px;
    left: 1294px;
    top: 30px;

    /* Heading 5 Roboto Mono */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;

    color: #F4E8C1;

}


/* Vector

position: absolute;
left: 94.07%;
right: 4.93%;
top: 3.62%;
bottom: 94.91%;

background: #F4E8C1; */


/* Group 60 */
/* 
position: absolute;
width: 495px;
height: 40px;
left: 158px;
top: 24px; */



/* About */

#About {
    position: absolute;
    width: 118px;
    height: 39px;
    left: 535px;
    top: 25px;
    /* Heading 4 Roboto Mono */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 29.69px;
    line-height: 39px;
    color: #161D1B;
}



#Home {

    position: absolute;
    width: 72px;
    height: 39px;
    left: 158px;
    top: 24px;

    /* Heading 4 Roboto Mono */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 29.69px;
    line-height: 39px;

    color: #161D1B;


}

#Features {
    position: absolute;
    width: 192px;
    height: 39px;
    left: 319px;
    top: 24px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 29.69px;
    line-height: 39px;

    color: #161D1B;


}

.darkTheme {
    /* Toggle */

    position: absolute;
    width: 72px;
    height: 32px;
    left: 42px;
    top: 28px;

    /* Light/Button/Low Emphasis */
    background: #FFFFFF;
    border-radius: 16px;


    /* moon

dark, night
*/

    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 4px;

    opacity: 0.7;


    /* Union */

    position: absolute;
    width: 17.52px;
    height: 17.52px;
    left: 3px;
    top: 3.48px;

    /* Light/Button/High Emphasis */
    background: #4B5EFC;


    /* Subtract */

    position: absolute;
    width: 15.58px;
    height: 15.58px;
    left: 4px;
    top: 4.42px;

    border: 2px solid #000000;


    /* Ellipse */

    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 16.67%;
    bottom: 16.67%;

    background: #C4C4C4;


    /* Ellipse */

    position: absolute;
    left: 37.5%;
    right: -4.17%;
    top: -4.17%;
    bottom: 37.5%;

    background: #C4C4C4;


    /* Grid */

    position: absolute;
    visibility: hidden;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;



    /* sun

light, morning, luminance
*/

    position: absolute;
    width: 24px;
    height: 24px;
    left: 8px;
    top: 4px;

    opacity: 0.7;


    /* Union */

    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;

    /* Light/Button/High Emphasis */
    background: #4B5EFC;


    /* Vector */

    position: absolute;
    left: 12.5%;
    right: 87.5%;
    top: 50%;
    bottom: 41.67%;

    border: 2px solid #000000;
    transform: rotate(-90deg);


    /* Vector */

    position: absolute;
    left: 50%;
    right: 50%;
    top: 12.5%;
    bottom: 79.17%;

    border: 2px solid #000000;


    /* Vector */

    position: absolute;
    left: 79.17%;
    right: 20.83%;
    top: 50%;
    bottom: 41.67%;

    border: 2px solid #000000;
    transform: rotate(-90deg);


    /* Vector */

    position: absolute;
    left: 50%;
    right: 50%;
    top: 79.17%;
    bottom: 12.5%;

    border: 2px solid #000000;


    /* Vector */

    position: absolute;
    left: 76.52%;
    right: 23.48%;
    top: 76.52%;
    bottom: 15.15%;

    border: 2px solid #000000;
    transform: rotate(135deg);


    /* Vector */

    position: absolute;
    left: 29.38%;
    right: 70.62%;
    top: 29.38%;
    bottom: 62.29%;

    border: 2px solid #000000;
    transform: rotate(135deg);


    /* Vector */

    position: absolute;
    left: 76.52%;
    right: 23.48%;
    top: 23.48%;
    bottom: 68.18%;

    border: 2px solid #000000;
    transform: rotate(45deg);


    /* Vector */

    position: absolute;
    left: 29.38%;
    right: 70.62%;
    top: 70.62%;
    bottom: 21.04%;

    border: 2px solid #000000;
    transform: rotate(45deg);


    /* Ellipse */

    position: absolute;
    left: 37.5%;
    right: 37.5%;
    top: 37.5%;
    bottom: 37.5%;

    border: 2px solid #000000;


    /* Grid */

    position: absolute;
    visibility: hidden;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;



    /* O */

    position: absolute;
    width: 24px;
    height: 24px;
    left: 44px;
    top: 4px;

    /* Light/Button/Medium Emphasis */
    background: #D2D3DA;


}